<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="gps" params="suffix parent namespace x y z roll pitch yaw update_rate">
    <xacro:property name="sensor_box" value="0.01" />
    <xacro:property name="mass" value="0.01" />

    <!-- Define the fixed joint -->
    <joint name="${suffix}_joint" type="fixed">
      <origin rpy="${roll} ${pitch} ${yaw}" xyz="${x} ${y} ${z}"/>
      <parent link="${parent}"/>
      <child link="${suffix}_link"/>
    </joint>

    <!-- Define the GPS link with visual and inertial properties -->
    <link name="${suffix}_link">
      <visual>
        <geometry>
          <box size="${sensor_box} ${sensor_box} ${sensor_box}"/>
        </geometry>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <material name="green">
          <color rgba="0.0 1.0 0.0 1.0"/>
        </material>
      </visual>
      <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="${mass}"/>
        <inertia ixx="${(sensor_box*sensor_box+sensor_box*sensor_box)*mass/12.0}" ixy="0.0" ixz="0.0" 
                 iyy="${(sensor_box*sensor_box+sensor_box*sensor_box)*mass/12.0}" iyz="0.0" 
                 izz="${(sensor_box*sensor_box+sensor_box*sensor_box)*mass/12.0}"/>
      </inertial>
    </link>

    <!-- Gazebo sensor setup for GPS -->
    <gazebo reference="${suffix}_link">
      <gravity>true</gravity>
      <sensor name="${suffix}_sensor" type="gps">
        <always_on>true</always_on>
        <update_rate>${update_rate}</update_rate>
        <visualize>true</visualize>
        <topic>__default_topic__</topic>
        <plugin filename="libgazebo_ros_gps.so" name="gps_plugin">
          <topicName>${namespace}/${suffix}</topicName>
          <frameName>${suffix}_link</frameName>
          <gaussianNoise>0.0</gaussianNoise>
        </plugin>
        <pose>0 0 0 0 0 0</pose>
      </sensor>
    </gazebo>
  </xacro:macro>

</robot>